body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#page {
    background: #eee;
}

a,
a:link,
a:visited {
    border: 0;
    color: #0069d6 !important;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    border: none !important;
}

a:hover {
    color: #00438a !important;
    text-decoration: underline;
}

.the-header .unit-head .nav-global .logo a {
    color: black !important;
}

.the-header .unit-head .nav-global li a:hover {
    background-color: #ddd;
}

.the-footer {
    word-wrap: break-word;
}

.rss {
    font-size: 12px;    
}

.licence {
    font-size: 10px;
}

.layout-page .tag_box {
    background: #eee;
}

.layout-page .tag_box a {
    background: #ddd;
}