body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#page {
    background: #eee;
}

a,
a:link,
a:visited {
    border: 0;
    color: #0069d6 !important;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    border: none !important;
}

a:hover {
    color: #00438a !important;
    text-decoration: underline;
}

.the-header .unit-head .nav-global .logo {
    margin-bottom: 20px;
}

.the-header .unit-head .nav-global .logo img {
    height: 60px;
    margin: 0 20px 0 0;
}

.the-header .unit-head .nav-global .logo a {
    color: black !important;
    margin: 0;
    padding: 0;
}

.the-header .unit-head .nav-global li a:hover {
    background-color: #ddd;
}

.the-header .unit-head .nav-global li.logo a:hover {
    background-color: transparent;
}

.body,
.the-footer {
    word-wrap: break-word;
}

.rss {
    font-size: 12px;    
}

.licence {
    font-size: 10px;
}

.layout-page .tag_box {
    background: #eee;
}

.layout-page .tag_box a {
    background: #ddd;
}

.unit-article img {
    margin: 10px auto;
}

.unit-article ul,
.unit-article ol,
.unit-article dl {
    padding-left: 20px;
}

.unit-article p code,
.unit-article li code,
pre {
    background: #eee;
    border: none;
    color: inherit;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.the-footer {
    background: #222;
}

@media only screen and (min-width: 768px) {
    .the-header .unit-head .nav-global .logo {
        padding: 10px;
        height: 60px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .the-footer {
        background: transparent;
    }
}

@media only screen and (min-width: 1410px) {
    .the-header .unit-head .nav-global .logo {
        height: auto;
    }
    .the-header .unit-head .nav-global .logo img {
        height: 150px;
        display: block;
        margin: 0 auto;
    }
    .the-header .unit-head .nav-global .logo span {
        text-align: center;
        display: block;
    }
    .the-footer {
        background: transparent;
    }
}