body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#page {
    background: #eee;
}

a,
a:link,
a:visited {
    border: 0;
    color: #0069d6 !important;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
    border: none !important;
}

a:hover {
    color: #00438a !important;
    text-decoration: underline;
}

.the-header .unit-head .nav-global .logo {
    margin-bottom: 20px;
}

.the-header .unit-head .nav-global .logo img {
    height: 60px;
    margin: 0 20px 0 0;
}

.the-header .unit-head .nav-global .logo a {
    color: black !important;
    margin: 0;
    padding: 0;
}

.the-header .unit-head .nav-global li a:hover {
    background-color: #ddd;
}

.the-header .unit-head .nav-global li.logo a:hover {
    background-color: transparent;
}

.body,
.unit-article p code,
.unit-article li code,
.the-footer {
    word-wrap: break-word;
    white-space: initial;
}

.rss {
    font-size: 12px;    
}

.licence {
    font-size: 10px;
}

.layout-page .tag_box {
    background: #eee;
}

.layout-page .tag_box a {
    background: #ddd;
}

.unit-article img {
    margin: 10px auto;
    max-width: 100%;
}

.unit-article ul,
.unit-article ol,
.unit-article dl {
    padding-left: 20px;
}

.unit-article p code,
.unit-article li code,
pre {
    background: #eee;
    border: none;
    color: inherit;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.the-footer {
    background: #222;
}

a.bigOlButton,
button.bigOlButton, 
input.bigOlButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    box-shadow: inset 0px 1px 0px 0px #bbdaf7;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background: -moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color: #79bbff;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 0;
    border: 1px solid #84bbf3;
    display: inline-block;
    color: #ffffff !important;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #528ecc;
    padding: 15px 30px;
}
.bigOlButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}.bigOlButton:active {
    position:relative;
    top:1px;
}

@media only screen and (min-width: 768px) {
    .the-header .unit-head .nav-global .logo {
        padding: 10px 0 10px 10px;
        height: 60px;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1280px) {
    .the-footer {
        background: transparent;
    }
}

@media only screen and (min-width: 1410px) {
    .the-header .unit-head .nav-global .logo {
        height: auto;
    }
    .the-header .unit-head .nav-global .logo img {
        height: 150px;
        display: block;
        margin: 0 auto;
    }
    .the-header .unit-head .nav-global .logo span {
        text-align: center;
        display: block;
    }
    .the-footer {
        background: transparent;
    }
}

.meta {
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.unit-article .meta .list-linear .list-head {
    margin-right: 10px;
}